{% for product in products %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <a href="{{ path("product_detail", {"slug": product.slug }) }}">
            <div class="thumbnail">
                <img src="{{ product.image }}" alt="{{ product.title }}">
                <div class="caption">
                    <h4 class="pull-right">{{ product.price }} Kč</h4>
                    </h4>
                    <p>{{ product.title }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
