<div class="row">
{% for product in products %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <a href="{{ path("product_detail", {"slug": product.slug }) }}">
            <div class="thumbnail">
                <img src="{{ product.image }}" alt="{{ product.title }}">
                <div class="caption">
                    <h4 class="pull-right">{{ product.price }} Kč</h4>
                    </h4>
                    <p>{{ product.title }}</p>
                </div>
            </div>
            </a>
    </div>
{% endfor %}
</div>

{% if maxPages > 1 %}
<div class="row text-center">
<ul class="pagination pagination-sm">
    {# `«` arrow  #}
    <li {{ thisPage == 1 ? 'class="disabled"' }}>
        <a href="{{ path('homepage', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>

    {# Render each page number #}
    {% for i in 1..maxPages %}
    <li {{ thisPage == i ? 'class="active"' }}>
    <a href="{{ path('homepage', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
        <a href="{{ path('homepage', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
    </li>
</ul>
</div>
{% endif %}
