<ul class="nav navbar-nav">
    <li>
        <a href="{{ path("homepage") }}">Domů</a>
    </li>
    <li>
        <a href="{{ path("faq") }}">FAQ</a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path("list_faq") }}" class="navbar-link">FAQ editace</a></li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path("edit_users") }}" class="navbar-link">Uživatelé</a></li>
        {% endif %}
        <li><a href="{{ path("user_settings") }}" class="navbar-link">{{ app.user.username }}</a></li>
        <li><a href="{{ path("user_logout") }}" class="navbar-link">Odhlásit</a></li>
    {% else %}
        <li><a href="{{ path("user_login") }}" class="navbar-link">Přihlásit</a></li>
        <li><a href="{{ path("user_registration") }}" class="navbar-link">Registrovat</a></li>
    {% endif %}
</ul>
