{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nejčastějíší dotazy - editace</h1>
    <h2>Formulář</h2>
    {{ form_start(form) }}
    {{ form_row(form.question) }}
    {{ form_row(form.answer) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Uložit</button>
    {{ form_end(form) }}
    <h2>Seznam FAQ</h2>
    {% for faq in faqs %}
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ faq.question }}</h4>
                <p class="list-group-item-text">{{ faq.answer }}</p>
                <br>
                <div class="btn-group">
                    <a href="{{ path("edit_faq", {"id": faq.id}) }}" class="btn btn-primary">Upravit</a>
                    <a href="{{ path("del_faq", {"id": faq.id}) }}" class="btn btn-danger">Smazat</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

