{% extends 'base.html.twig' %}

{% block body %}
    <h1>Přidat adresu uživatele</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.surName) }}
    {{ form_row(form.street) }}
    {{ form_row(form.city) }}
    {{ form_row(form.zip) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Přidat</button>
    {{ form_end(form) }}
{% endblock %}