{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upravit Adresu</h1>
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.street) }}
        {{ form_row(form.city) }}
        {{ form_row(form.postCode) }}
        {{ form_row(form.phone) }}
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Uložit</button>
    {{ form_end(form) }}
{% endblock %}

