{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="col-md-12">
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="col-md-12">
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Změnit heslo</button>
    {{ form_end(form) }}
{% endblock %}