{% extends 'base.html.twig' %}

{% block body %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path("user_profile") }}">Detail</a></li>
        <li role="presentation" class="active"><a href="{{ path("user_password") }}">Heslo</a></li>
        <li role="presentation"><a href="{{ path("user_address") }}">Adresa</a></li>
    </ul>
    <br />

    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <br />
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}

