{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.street) }}
        {{ form_row(form.city) }}
        {{ form_row(form.psc) }}
        {{ form_row(form.username) }}
        {{ form_row(form.phone) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Uložit!</button>
    {{ form_end(form) }}
{% endblock %}