{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.query) }}
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Odeslat</button>
    {{ form_end(form) }}
{% endblock %}